# Node modules directory
node_modules/

# Build directory (React app builds here)
build/

# Environment variable files
.env

# Logs
*.log

# Mac OS system files
.DS_Store

# npm debug log
npm-debug.log*

# yarn lock file (if you're using yarn instead of npm)
yarn.lock

# VSCode settings folder
.vscode/
